.DogCard-container {
  width: 300px;
  height: 220px;
  // background-image: url('../../../public/images/siberian-husky.jpg')
  // background-size: 300px 200px;
  // background:  no-repeat center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    background-color: blue;
  }
}

.dog-card-header {
  // height: 20px;
  margin: 0;
}

.dog-img {
  width: 100px;
  height: 200px;
  background-size: 100px 200px;
  // border-radius: 50%;
}
// .card-img {
//   box-sizing: border-box;
//    width: 100px;
//      height: 100px;
// }