.DogCard-container {
  width: 250px;
  height: 250px;
  position: relative;
  margin: 100px 150px 50px;
  background-color: salmon;
  transition: 0.1s;
  text-decoration: none;
  color: white;
  &:before {
    content: "";
    background-color: salmon;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    transition: 0.1s;
  }
  &:after {
    content: "";
    background-color: salmon;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 50px;
    left: 50px;
    transition: 0.1s;
  }
  &:hover {
    transform: rotate(-45deg);
    transition: 0.1s;
    background-color: red;
    .info-container {
      transition: 0.1s;
      transform: rotate(45deg);
      .info-inner-container {
        transform: translateY(-45px);
        transition: 0.1s;
      }
    }
  }
  &:hover:after {
    background-color: red;
    height: 250px;
    width: 250px;
    top: -125px;
    left: 0;
    transition: 0.1s;
  }
  &:hover:before {
    background-color: red;
    height: 250px;
    width: 250px;
    transition: 0.1s;
  }
}

.info-container {
  transition: 0.1s;
  height: 250px;
  width: 250px;
  position: relative;
  z-index: 2;
}

.info-inner-container {
  transition: 0.1s;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dog-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.dog-name {
  font-weight: 400;
  font-size: 25px;
}
