.BreedCard-container {
  width: 150px;
  height: 180px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: $primary;
  // background-image: url('../../../public/images/siberian-husky.jpg')
  // background-size: 300px 200px;
  // background:  no-repeat center center;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  &:hover {
    background-color:$primary-light-hover;
  }
}

.breed-card-header {
  height: 40px;
  margin: 0;
}

.breed-img {
  width: 150px;
  height: 100px;
  background-size: 150px 100px;
}

.breed-attr {
  height: 40px;
}