.BreedCard-container {
  width: 150px;
  height: 180px;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    background-color:$primary-light-hover;
  }
}

.breed-card-header {
  height: 40px;
  margin: 0;
  pointer-events: none;
  color: white;
  text-decoration: none;
}

.breed-img {
  margin-top: 15px;
  width: 150px;
  height: 100px;
  background-size: 150px 100px;
  pointer-events: none
}

.breed-attr {
  height: 40px;
  margin-top: 15px;
  pointer-events: none;
  display: flex;
  justify-content: space-around;
}
.activeCard {
  background-color:green;
  &:hover {
    background-color: rgb(25, 146, 25);
  }
}

.fas {
  color: white;
  font-size: 20px;
}