$font-primary: 'Lato', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;

$primary: #005289;
$primary-light: #4e70ba;
$primary-light-hover: #6c79c2;
$primary-dark : #14005b;
$highlight: #c8d6f1;
$card-bg: #eef2ff;

$white: #fcfcfc;